body {
    background-color: #0b3d91; /* Deep Space Blue */
    color: #ffffff; /* White */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.header, .footer, .section {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #1f77b4; /* Astronaut Blue */
}

.header .container{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.header {
    padding-bottom: 0;
}

.footer .container {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.footer {
    padding-top: 0;
}

.container {
    max-width: 800px;
    background-color: #0b3d91; /* Deep Space Blue */
    padding: 2rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    height: 100%;
}

.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

}

.side-image {
    width: 120px; /* Adjust the size as needed */
    height: auto;
    margin-left: 10px; /* Space between text and image */
    align-self: center;
}

.footer p {
    margin: 0;
    font-size: 0.875rem;
}

h1, h2, h3, p {
    color: #ffffff; /* White */
}

button.btn-primary {
    background-color: #d62728; /* Mars Red */
    color: #ffffff; /* White */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1rem;
}

button.btn-primary:hover {
    background-color: #ff7f0e; /* Rocket Orange */
}

a {
    color: #1f77b4; /* Astronaut Blue */
}

a:hover {
    color: #2ca02c; /* Alien Green */
}