:root {
    --deep-space-blue: #0b3d91;
    --astronaut-blue: #1f77b4;
    --mars-red: #d62728;
    --rocket-orange: #ff7f0e;
    --alien-green: #2ca02c;
    --text-color: #ffffff;
}

body {
    background-color: var(--astronaut-blue);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Общие стили для контейнеров */
.container {
    max-width: 800px;
    background-color: var(--deep-space-blue);
    padding: clamp(1rem, 2vw, 2rem);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 100%;
}

/* Хедер и футер */
.header, .footer {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--astronaut-blue);
}

.footer p {
    margin: 0;
    font-size: 0.875rem;
}

/* Основная секция */
.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 clamp(1rem, 2vw, 2rem);
    margin: 0;
    width: 100%;
    background-color: var(--astronaut-blue); /* Вернули фон для всей секции */
}
/* Картинки */
.side-image {
    width: 120px;
    height: auto;
    margin-left: 10px;
    align-self: center;
}

/* Стили заголовков и текста */
h1, h2, h3, p {
    color: var(--text-color);
}

/* Кнопки */
button.btn-primary {
    background-color: var(--mars-red);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1rem;
}

button.btn-primary:hover {
    background-color: var(--rocket-orange);
}

/* Ссылки */
a {
    color: var(--astronaut-blue);
    text-decoration: none;
}

a:hover {
    color: var(--alien-green);
}

/* Секция регистрации */
.register-section {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0;
}

.register-section .container {
    max-height: 400px;
    padding: 0;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.register-section h2 {
    margin: 3rem 0 2rem 0;
}

.register-form input {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--astronaut-blue);
    border-radius: 10px;
}

.register-form button {
    width: 50%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-radius: 8px;
    background-color: var(--mars-red);
    color: var(--text-color);
    cursor: pointer;
}

.register-form button:hover {
    background-color: var(--rocket-orange);
}

.register-form a {
    color: var(--astronaut-blue);
}

.register-form a:hover {
    color: var(--alien-green);
}

.error {
    color: var(--mars-red);
    font-size: 0.875rem;
    margin: 0;
}